<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/settings/">Übersicht</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/network/">Netzwerk</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/inventory/">Allgemein</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/ddns/">dDNS</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/auth/">Auth / LDAP</a></li>
    <li class="nav-item"><a class="nav-link" href="/users_groups/">Benutzer & Gruppen</a></li>
</ul>
<ul class="nav flex-column mt-3">
    <li class="nav-item"><a class="nav-link" href="/logs/">Logs</a></li>
</ul>
