<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="/settings/">Overview</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/network/">Network</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/inventory/">General</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/ddns/">Dynamic DNS</a></li>
    <li class="nav-item"><a class="nav-link" href="/settings/auth/">Auth / LDAP</a></li>
    <li class="nav-item"><a class="nav-link" href="/users/">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/groups/">Groups</a></li>
</ul>
<ul class="nav flex-column mt-3">
    <li class="nav-item"><a class="nav-link" href="/logs/">Logs</a></li>
</ul>
